<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EBank_Servlet</servlet-name>
        <servlet-class>com.ebank_indore.EBank_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Depostie_Account_Servlet</servlet-name>
        <servlet-class>com.ebank_indore.Depostie_Account_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Withdrwal_Servlet</servlet-name>
        <servlet-class>com.ebank_indore.Withdrwal_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EBank_Servlet</servlet-name>
        <url-pattern>/EBank_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Depostie_Account_Servlet</servlet-name>
        <url-pattern>/Depostie_Account_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdrwal_Servlet</servlet-name>
        <url-pattern>/Withdrwal_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
